 * {
     box-sizing: border-box;
     margin: 0;
 }
 .containerMenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    align-items: left;

} 


.headerRestaurant {
    width: 100%;
    margin-top: 2em;
    border-radius: 10px;
    height: 25em;
    border: none;
    /* background-color: var(--primary-strawberry); */
    display: flex;
    background-image: url(../../assets//images/imagePaniniCaMeusa.png);
    background-size: cover;
    flex-direction: column;
    justify-content: flex-end;
   
}

.nameRest {
    font-size: 3em;
    font-weight: bold;
    padding: 0em 1em;
    color: white;
    text-align: left;
}
.namePrice {
    line-height: 2em;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.priceRest {
    padding: 0em 1.6em;
    font-size: 2em;
    color: white;
}
.infoRestaurant {
    padding: 1em;
    font-size: 1em;
    font-weight: 300;
    justify-content: space-around;
}

.rowSidebar {
    display: flex;
    width: 70%;
    padding: 1em;
    font-size: 1em;
    color: var(--primary-dark);
    justify-content: space-between;
    
    
    
}
.trendRist {
    text-align: left;
    margin-top: 1.5%;
    margin-left: 1%;
}


.restaurantsMenuContainer{
        display: grid;
         grid-template-columns: 25% 25% 25% 25%;
        
}
.wrapperImage{
    margin: 10px;
}
.wrapRating {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.titleRest {
    font-weight: 500;
    max-width: 280px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 1em;
    overflow: hidden;
}
.ratingRest{
    margin-right:5px;
    margin-top: 1em;
}
.headerCenter {
    display: flex;
    width: 100%;
    padding: 10px;
}
.voicePlate {
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 5px 10px 0px 0px; 
    margin: 5px;
    white-space: nowrap;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 520px) {
    .containerMenu {
        margin-top: -3em;
        padding: 1em 1em;
        
    
    } 
    .rowSidebar {
        display: flex;
        width: 100%;
        margin-top: -5vw;
        font-size: 1em;
        color: var(--primary-dark);
        justify-content: left;
        flex-wrap: wrap;
        margin-left: -10px;
        
        
        
    }
    .restaurantsMenuContainer{
        display: flex;
        flex-direction: column;
        
    }
    .trendRist {
        text-align: left;
        padding: 0vw 1.5vw;
    }

    .infoRestaurant {
        padding: 10px 10px;
    }
    .headerRestaurant {
        width: 100%;
        margin-top: 3em;
        height: 15em;
        border-radius: 10px;
        border: none;
        background-color: var(--primary-strawberry);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    
    }
    .nameRest {
        font-size: 1.3em;
        min-width: 100%;
        display: flex;
        flex-wrap: nowrap;
        font-weight: bold;
        padding: 0em 1em;
        color: white;
        text-align: left;
    }
    .namePrice {
        line-height: 1em;
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    .priceRest {
        padding: 0em 1.6em;
        font-size: 1em;
        color: white;
    }
    .voicePlate {
        padding: 1%;
        margin: 5px;
        font-size: 13px;
        white-space: nowrap;
        padding: 5px 10px 0px 0px; 
        
    }

  }