.gm-game-page-container {
    width: 100%;
    min-height: 100vh;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    background-image: url('../../assets/images/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.gm-game-header-page {
    width: 100%;
    background-color:#F24464d9;
    margin-bottom: 2%;
}

.gm-header-icon-container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 15px 15px 0;
    color: #F3F3F3;
}

.gm-quiz-container {
    width: 70%;
    max-width: 680px;
    background-color: #fff;
    z-index: 0;
    position: relative;
    background-color: transparent;
}

.gm-quiz-container .gm-question{
    color: #3F3D56;
    margin: 4%;
}

.gm-counter-questions{
    color: #3F3D56;
    margin: 4% 0%;
}

.gm-quiz-container-question {
    background-color: rgb(242, 68, 100, 87%);
    padding: 10%;
    border-radius: 5px;
}

.gm-quiz-container-question .gm-question {
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.gm-quiz-container-answer {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.gm-quiz-container-answer .gm-quiz-button {
    text-align: left;
    margin: 10px 0;
    padding: 3%;
    min-height: 45px;
    background-color: #3F3D56;
    color: #fff;
    letter-spacing: 1px;
}

.gm-quiz-container-answer .gm-quiz-button-answer {
    background-color: #fff;
    color: #3F3D56;
}

.gm-quiz-container-answer .gm-quiz-button-right {
    border: 2px solid green;
}

.gm-quiz-container-answer .gm-quiz-button-wrong {
    border: 2px solid rgb(242, 68, 100, 87%);
}

.gm-quiz-container-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 3%;
}

.gm-quiz-container-footer .gm-goOn-button {
    padding: 3%;
    background-color: rgb(242, 68, 100, 87%);
    color: #fff;
    margin-bottom: 10px;
}

/* Css tablet */

@media screen and (min-width: 768px) {
    .gm-game-page-container {
        width: 100%;
        overflow-y: hidden;
        padding: 0%;
        background-image: url('../../assets/images/bg3.png');
        background-position: 25%;
    }
    .gm-quiz-container-question .gm-question {
        font-size: 40px;
    }
    .gm-quiz-container-answer .gm-quiz-button {
        font-size: 30px;
        margin: 10px 0px;
        min-height: 80px;
    }
    
    .gm-counter-questions{
        font-size: 30px;
    }
    .gm-quiz-container-footer .gm-goOn-button {
        font-size: 30px;
    }
    
}

/* Css laptop */
@media screen and (min-width: 1024px) {
    .gm-game-page-container {
        background-image: url('../../assets/images/bg3.png');
    }
    .gm-quiz-container-question {
        padding: 5%;
    }
    .gm-quiz-container-answer {
        display: flex;
        flex-direction: row;
        align-content: normal;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    .gm-quiz-container-answer .gm-quiz-button {
        width: 45%;
        min-height: 84px;
    }
    .gm-quiz-container-answer .gm-quiz-button-right {
        border: 2px solid green;
    }
    .gm-quiz-container-answer .gm-quiz-button-wrong {
        border: 2px solid rgb(242, 68, 100, 87%);
    }
    .gm-game-header-page {
        margin-bottom: 0%;
    }
    .gm-quiz-container-footer {
        width: 100%
    }
}