.bo-login{
    background-color: #F24464d9;
    color:white;
    text-align: center;
    min-height: 100vh;
}

.bo-login .alert {
    color: #3F3D56; 
}

.bo-login h1{
    margin-top: 60px;
    margin-bottom: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.bo-login-form{
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    max-width: 720px;
}

.bo-input-box{
    outline: none;
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    opacity: 0.9;
    box-shadow: 0px 7px 20px rgb(97, 79, 79);
}   

.bo-btn{
    width: 100%;
    background-color: #F2E205;
    color: black;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    margin: 20px 0 20px 0;
    cursor: pointer;
    font-weight: bold;
    opacity: 0.9;
    box-shadow: 0px 7px 20px rgb(97, 79, 79);
}
.bo-btn:hover{
    transition: 0.2s;
    background-color: #3F3D56;
    color:white;
}

.bo-link{
    font-size: 20px;
    background:none;
    cursor: pointer;
    border: none;
    text-decoration: none;
    text-align: center;
    color: white;
}

.bo-link:hover{
    transform: scale(1.03);
    text-decoration: underline;
    color: #3F3D56;
}