/* Add css here */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins';
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    
}

 h1{
    color: #3F3D56;
    font-size: 30px;
    text-align: center;
}

.inputBoxPass {
    height: 35px;
    text-align: center;
    width: 80%;
    border-radius: 5px;
    margin: 10px 0px;
    border: none;
    box-shadow: 0px 4px 4px rgb(5, 5, 5, 25%);
}
.buttonForgot {
    height: 50px;
    border: none;
    border-radius: 5px;
    width: 100px;
    background-color: #F24464;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.logo-forgot-style{
    position:absolute; 
     bottom: -40px; 
    left: 9px;
} 

.container{
    height: calc(100vh - 88.19px); 
}


@media screen and (min-width: 768px) {
    .form {
      width: 50%;
  
    }

     .container{
        height: calc(100vh - 88.19px); 
    } 

    .inputBoxPass{
       border: 1px solid black;
       box-shadow: none;
       border-top: none;
       border-left: none;
       border-radius: 0%;
       border-right: none;
       width: 80% ; 
    }
    .buttonForgot{
        width: 250px;
    }
   

  }
  
  @media screen and (min-width: 992px) {
    .form{
      width: 50%;
  
    }
  }