/* Add css here */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins';
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    
}
.logo {
    width: 175px;
    margin-bottom: 50px;
    
}
.title {
    color: #3F3D56;
    font-size: 30px;
}
.inputBoxPass {
    height: 35px;
    text-align: center;
    width: 80%;
    border-radius: 5px;
    margin: 10px 0px;
    border: none;
    box-shadow: 0px 4px 4px rgb(5, 5, 5, 25%);
}
.buttonForgot {
    height: 50px;
    border: none;
    border-radius: 5px;
    width: 100px;
    background-color: #F24464;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.signUp {
    font-size: 14px;
    text-decoration: underline;
}

