/* Alert class for inputs and select */
.bo-input-box.alert {
    border: 2px solid red;
    background-color: #FBC6C7;
}


.bo-registration {
    background-color: #F24464d9;
    color: white;
    min-height: 100vh;
}

.bo-registration h2{
    color: white;
    margin-bottom: 10px;
}

.bo-registration h1{
    font-weight: bold;
    color: white;
    padding: 20px;
    font-size: 40px;
}

.bo-reg-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.bo-left-form, .bo-right-form {
    flex-basis: 50%;
    padding: 20px;
}

.bo-reg-form {
    margin: 0 auto;
    width: 100%;
    padding: 100px;
}

.flex-inputs {
    display: flex;
    justify-content: space-between;
}

.flex-inputs>.bo-input-box {
    width: 49%;
    display: block;
}

@media screen and (max-width: 980px) {
    .bo-registration h1, h2{
        text-align: center;
    }
    .bo-reg-form {
        padding: 20px;
    }
    .bo-left-form, .bo-right-form {
        flex-basis: 100%;
    }
    .flex-inputs {
        flex-wrap: wrap;
    }
    .flex-inputs>.bo-input-box {
        width: 100%;
    }

}