.bo-card-plate-container-img-{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff(255, 0, 0);
    border-radius: 10px;
    width: 100%;
    height: 250px; 
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.18);
}
.bo-card-plate-container-img- img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.bo-card-plate-flex-inputs{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bo-card-plate-flex-inputs>.bo-input-box {
    width: 49%;
    display: block;
    text-align: left;
}

.bo-card-plate-container-img-new-plate{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F44466A6    ;
    border-radius: 10px;
    width: 100%;
    height: 250px; 
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.18);
}

.bo-card-plate-container-img-new-plate img{
    border-radius: 10px;
    height: 50%;
    width: 50%;
    object-fit: contain;
}