.bo-card-plate-container-img-{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff(255, 0, 0);
    border-radius: 20px;
    width: 100%;
    height: 250px; 
    margin-bottom: 20px;
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 0px 7px 20px rgb(97, 79, 79);   
}
.bo-card-plate-container-img- img{
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bo-card-plate-container-img-new-plate{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F44466A6    ;
    border-radius: 20px;
    width: 100%;
    height: 250px; 
    margin-bottom: 20px;
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 0px 7px 20px rgb(97, 79, 79);  
}

.bo-card-plate-container-img-new-plate img{
    border-radius: 20px;
    height: 50%;
    width: 50%;
    object-fit: contain;
}

.bo-card-plate-container-img-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%; 
    margin: 0;
    cursor: pointer;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.18);
}

.bo-card-plate-container-img-logo img{
    border-radius: 20px;
    height: 50px;
    width: 50px;
    object-fit: contain;
}