.bo-order-home h2{
    margin: 0;
}

.bo-order-home{
    display: flex;
    align-items: baseline;
    margin-left: 10px;
    margin: 10px;
}

.bo-icon-edit{
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}

.bo-order-first-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bo-order-first-row .bo-select-order{
    width: auto;
}

.bo-order-form{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.bo-order-h2{
    background-color: #DFE4E9;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    margin: 10px;
    height: 100%;
}
.bo-order-flex-cards{
    display: flex;
    margin-right: 45px;
    align-items: center;
    justify-content: center;
    
}
 .bo-order-flex-cards img{
    width: 30%;
    display: block;
    margin: auto;
}  

.bo-btn-incoming-order{
    background-color: dodgerblue;
    text-align: center;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    padding: 10px;
    outline: none;
    cursor: pointer;
    transition: 200ms;
    color: white;
    height: 70%;
    width: 150px;
    margin: 10px;
}

@media screen and (max-width: 766px) {
    .bo-order-first-row {
        flex-direction: column-reverse;
        align-items: center;
    }

    .bo-order-form {
        flex-wrap: wrap;
    }
    .bo-order-form>.bo-order-flex-cards {
        width: 100%;
        margin: 0;
    }
    .bo-profile-container{
        text-align: center;
    }
}