* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.memory-page {
    background-color: #f24464;
    /* border: 1px solid blue; */
    height: 100vh;
    width: 100vw;
    z-index: -200;
    position: absolute;
}

.icons-container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 7%;
    color: #f3f3f3;
}

.info-message {
    color: #f24464;
    text-shadow: 1px 1px 2px #f24464;
    background-color: #f3f3f3ec;
    padding: 5px;
    width: 180px;
    height: 44px;
    margin-left: 8px;
    margin-top: -8px;
    display: none;
    position:absolute;
    left:30px;
    top: 0px
}

.info-icon {
    display: flex;
    position:relative;
    font-size: 25px;
}

.info-icon:hover > .info-message {
    display: block;
}




.card {
    width: 19vmin;
    height: 31vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../assets/logo_beije.svg") no-repeat center;
    background-size: 150%;
    background-position-x: 37%;
    background-position-y: 65%;
    background-color: #f3f3f3;
    position: relative;
    border-radius: 5px;
    box-shadow: 6px 7px 4px 2px rgba(0, 0, 0, 0.24);
}
.card-back{
    width: 19vmin;
    height: 31vmin;
    position:absolute;
    top: 0px;
    z-index: -100;
    border-radius: 5px;
    box-shadow: 6px 7px 4px 2px rgba(0, 0, 0, 0.24);
    background-color: #f3f3f3;
}

.active {
    /* transform: rotateY(180deg); */
    animation: flip-scale-up-hor .5s linear both;
}
.active-back{
    animation: card-back-rotation .5s linear both;
}

.wrong-front{
    animation: blur-front .5s linear both;
}
.wrong-back{
    animation: blur-back .5s linear both;
}

.game-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 10% 3% 20%;
    position: absolute;
    z-index: -150;
    background-color: #f24464;
    bottom: 0px;
    height: 80vh;
    width: 100%;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container{
    position:relative;
    animation-fill-mode: forwards;
    margin: 1.5%
}



  @keyframes flip-scale-up-hor {
    0% {transform: scale(1) rotateY(0); opacity: 1;}
    49% {transform: scale(1.2) rotateY(-88deg); opacity: 1;}
    50% {transform: scale(1.2) rotateY(-90deg); opacity: 0;}
    100% {transform: scale(1) rotateY(-180deg); opacity: 0;}
  }

  @keyframes card-back-rotation {
    0% {transform: scale(1) rotateY(-180deg); opacity: 0;}
    49% {transform: scale(1.2) rotateY(-92deg); opacity: 0;}
    50% {transform: scale(1.2) rotateY(-90deg); opacity: 1;}
    100% {transform: scale(1) rotateY(0); opacity: 1;}
  }

  @keyframes blur-front {
      0% {transform: scale(1) rotateY(-180deg); opacity: 0;}
      50% {transform: scale(1.2) rotateY(-90deg); opacity: 0;}
      51% {transform: scale(1.2) rotateY(-88deg); opacity: 1;}
      100% {transform: scale(1) rotateY(0); opacity: 1;}
  }

  @keyframes blur-back {
      0% {transform: scale(1) rotateY(0); opacity: 1;}
      50% {transform: scale(1.2) rotateY(-90deg); opacity: 1;}
      51% {transform: scale(1.2) rotateY(-92deg); opacity: 0;}
      100% {transform: scale(1) rotateY(-180deg); opacity: 0;}
  }


@keyframes disappear {
    0%{transform: rotate(0deg) scale(1);}
    10%{transform: rotate(90deg)scale(1.05);}
    20%{transform: rotate(180deg)scale(1.1);}
    30%{transform: rotate(270deg)scale(1);}
    40%{transform: rotate(360deg) scale(0.9);}
    50%{transform: rotate(450deg) scale(0.8);}
    60%{transform: rotate(540deg) scale(0.7);}
    70%{transform: rotate(630deg) scale(0.6);}
    80%{transform: rotate(720deg) scale(0.4);}
    90%{transform: rotate(810deg) scale(0.2);}
    100%{transform: rotate(900deg) scale(0); opacity: 0;}
}

/* @media screen and (max-device-width: 992px)
and (orientation:landscape)
 {
    .game-container{
        padding: 0% 0%;
    }
    .card{
        width: 20vmin;
        height: 25vmin;
    }
    .card-back{
        width: 25vmin;
        height: 25vmin;
    }


  } */

@media screen and (min-width: 768px) {
    .game-container{
        padding: 7% 3%;
    }
    .card{
        width: 17vmin;
        height: 25vmin;
    }
    .card-back{
        width: 17vmin;
        height: 25vmin;
    }
    .title{
        font-size: 50px;
    }
  }

  @media screen and (min-width: 992px) {
    .game-container{
        padding: 5% 3%;
    }
    .card{
        width: 20vmin;
        height: 22vmin;
    }
    .card-back{
        width: 20vmin;
        height: 22vmin;
    }

  }

  @media screen and (min-width: 1024px) {
    .game-container{
        padding: 5% 8% 20%;
    }
    .card{
        width: 18vmin;
        height: 20vmin;          
    }
    .card-back{
        width: 18vmin;
        height: 20vmin;
    }
    .info-message {
        color: #f24464;
        font-size: 40px;
        text-shadow: 1px 1px 2px #f24464;
        background-color: #f3f3f3ec;
        padding: 10px;
        width: 500px;
        height: 80px;
        display: none;
        left:50px;
        top: 0px
    }
    .info-icon {
        font-size: 50px;
    }
    .title{
        font-size: 80px;
    }

  }

  @media screen and (min-width: 1920px) {
    .game-container{
        padding: 5% 25%;
    }
    .card{
        width: 18vmin;
        height: 19vmin;
    }
    .card-back{
        width: 18vmin;
        height: 19vmin;
    }

  }

 
