*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}

h1{
    color: #3F3D56;
    font-size: 40px;
}

.logo-style{
    width: 175px;
    margin-bottom: 50px;
}

.login-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form-login{
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.button-login{
    height: 50px;
    border-radius: 5px;
    border: none;
    width: 100px;
    background-color:#F24464;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: 200ms;
}

.input-login{
    height: 35px;
    width: 80%;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
    border: none;
    box-shadow: 0px 4px 4px rgb(5, 5, 5, 25%);
    outline: none;
}

span{
    font-size: 16px;
    text-decoration: underline;
    color: blue;
    margin-top: 10px;
}

p{
    font-size: 14px;
    color: rgb(105, 105, 105);
    margin-top: 10px;
    
}

@media screen and (min-width: 768px) {
    .form-login{
      width: 50%;
  
    }

    .input-login{
       border: 1px solid black;
       box-shadow: none;
       border-top: none;
       border-left: none;
       border-radius: 0%;
       border-right: none;
       width: 80%;
    }
    .button-login{
        width: 200px;
    }

    .logo-style{
        position: absolute;
        top: 0;
        left: 20px;
        width: 15%;
        height: 15vh;
    }
  }
  
  @media screen and (min-width: 992px) {
    .form-login{
      width: 60%;
  
    }
  }