.bo-navbar{
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3F3D56;
    color: white;
}

.bo-navbar h2 {
    color: #fff;
    font-weight: 600;
    margin: 0;
}

.bo-navbar img{
    max-width: 120px;
}