.bo-card-default-constainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.bo-card-container-img{
    background: #3F3D56;
    border-radius: 10px;
    width: 150px;
    height: 150px; 
    cursor: pointer;
}
.bo-card-container-img img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: contain;
 }

.bo-card-title{
    padding: 10px;
    font-size: 18px;
}