.mainContainerRestaurants{
    display: flex;
    
}

.sideNav{
    flex: 25%;
    margin-left: 50px;
    min-width: 300px;
    margin-top: 10px;
    
    
}

.restaurantsListContainer{
    flex:75%;
}

.priceOrder li{
    display:inline
}