.mainContainerRestaurants{
    display: flex;  
}

.sideNav{
    flex: 25%;
    margin-left: 50px;
    min-width: 300px;
    margin-top: 10px;
    padding-right: 35px;
    display: block;
    box-sizing: border-box;
}

.restaurantsListContainer{
    flex:75%;
    flex-wrap: wrap;
}

.priceOrder li{
    display:inline
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
    .sideNav{
        display: none;
    }
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (orientation: landscape) {
    .sideNav{
        display: none;
    }
}
@media only screen 
  and (min-device-width: 480px) 
  and (max-device-width: 768px) 
  and (orientation: portrait) {
      .sideNav{
        display: none;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {
      .sideNav{
        display: none;
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) {
      .sideNav{
        display: none;
    }
}