
.frontend-user-page {
    max-width: 1000px;
    margin: 0 auto;
}
.frontend-user-page-container {
    position: relative;
}
.frontend-avatar {
    position: absolute;
    top: 0;
}
/* ----- NAVBAR ----- */
.frontend-navbar-user-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
}
.frontend-nav-user-icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid rgb(37, 37, 37);
    position: relative;
    background-color: rgb(255, 177, 32);
    cursor: pointer;
}
.frontend-nav-user-icon img {
    width: 100%;
    height: auto;
}
.frontend-nav-middle-user{
    display: flex;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 1px;
}
.frontend-user-name {
    font-size: 16px;
    color: #F24464;
}
.frontend-inner-nav-user-icon{
    background-color: var(--primary-dark);
    /* border: 2px solid rgb(37, 37, 37); */
    position: absolute;
    border-radius: 50%;
    bottom: -10px;
    right: -10px;
    height: 35px;
    width: 35px;
    z-index: 2;
}
.frontend-nav-right-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.frontend-nav-user-coin{
    position: relative;
    background-color: rgb(212, 195, 99);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: var(--primary-dark);
}

.frontend-nav-user-coin img {
    width: 100%;
}

.frontend-inner-nav-user-info{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    padding: 2px;
    right: 0;
    top: -5px;
    border-radius: 50%;
    background-color: var(--primary-dark);
}

.frontend-inner-i-txt{
    color: white;
}