.orderPriceButton{
    background: #EEEEEE;
    padding: 8px 12px;
    margin-right: 6px;
    margin-left: 6px;
    border-radius: 500px;
    cursor: pointer;   
}


.orderPriceButton:active{
    background-color: #cacaca;
}
.orderBy {
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.priceOrder {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* .maxDeliveryPrice{
    
} */
.deliveryRangeContainer{
    height: 66px;   
    width: calc(100% - 8px);
   
}

.deliveryRangeSon{
    width: 100%;
}

.deliveryPriceRange{
    height: 66px;
}


/* 
.deliveryPrice{
}

.deliveryPrice::before{
} */

