.titleSideNav{
    font-weight: 700;
}

.pushBottom{
    margin-bottom:1rem;
}
.orderPriceButton{
    background: #EEEEEE;
    padding: 6px 8px;
    margin-right: 6px;
    margin-left: 6px;
    border-radius: 500px;
    cursor: pointer;   
    font-weight: normal;
}

.orderFilterButton {
    background: #EEEEEE;
    padding: 0px 12px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 1%;
    height: 30px;
    font-size: 13px;
    font-weight: normal;
}

.rowLocal {
    display: flex;
    justify-content: space-between;
    width: 250px;
    font-weight: lighter;
}

.orderPriceButton:active{
    background-color: #cacaca;
}

.orderBy {
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top:1rem;
}

.priceOrder {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.deliveryPrice{
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.deliveryRangeContainer{
    height: 66px;   
    width: calc(100% - 8px);
}

.deliveryRangeSon{
    width: 100%;
}

.deliveryPriceRange{
    height: 66px;
}
