/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink: #F24464
} */

.MissionContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.MissionMenuContainer {
    height: 95%;
    width: 90%;
    position:relative;
}

.MissionMenu {
    height: 100%;
    width: 100%;
    
}

ul.MissionMenu li.MissionSingle {
    border-color: none;
    border-radius: 5px;
    background-color:  #f67a91ce;
    /* debug */
    color: white;
    /*debug*/
    width: 100%;
    margin: 10px 0;
    height: calc(100% / 10 - 100px);
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition-duration: 0.4s;
    z-index: 2;
    position: relative;
}

ul.MissionMenu li.MissionSingle:hover {
    background-color: var(--primary-strawberry);
}

div.MissionAward {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

.MissionCollect {
    background-color: var(--primary-desaturated-strawberry);
    padding: 5px 5px;
    margin-top: 10px;
    width: 40%;
    align-self: self-end;
    letter-spacing: 1px;
}

.MissionCollect:hover {
    background-color: var(--primary-strawberry);
    cursor: pointer;
}

.BeijeCoinMission {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.badgeMission {
    width: 40px;
    height: 40px;
}

@media screen and (min-width: 768px) {
    .MissionMenuContainer {
        width: 70%;
    }
    .ul.MissionMenu li.MissionSingle {
        padding: 2.5%;
    }
    .MissionCollect {
        padding: 5px 10px;
    }
}




.pseudo-mission {
    content: "";
    height: 50px;
    width: 50px;
    border: 5px solid var(--primary-strawberry);
    border-radius: 15%;
    position: absolute;
    z-index: 0;
}

.pseudo-1-mission {
    left: -4%;
    top: 75%;
    height: 50px;
    width: 50px;
    animation-name: pseudo-1-mission;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border: 4px solid var(--primary-strawberry);

}

.pseudo-2-mission {
    right: 6.5%;
    top: 1%;
    height: 75px;
    width: 75px;
    animation-name: pseudo-2-mission;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes pseudo-2-mission {
    0% {
        transform: rotate(0deg);
        top: 25px
    }
    50% {
        transform: rotate(1500deg);
        top: 94%
    }
    100% {
        transform: rotate(0deg);
        top:  25px
    }
}

@keyframes pseudo-1-mission {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

