/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink: #F24464
} */

.MissionContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MissionMenuContainer {
    height: 95%;
    width: 90%;
}

.MissionMenu {
    height: 100%;
    width: 100%;
}

ul.MissionMenu li.MissionSingle {
    border-color: none;
    border-radius: 5px;
    background-color: var(--primary-desaturated-strawberry);
    /* debug */
    color: white;
    /*debug*/
    width: 100%;
    margin: 10px 0;
    height: calc(100% / 10 - 100px);
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition-duration: 0.4s;
}

ul.MissionMenu li.MissionSingle:hover {
    background-color: var(--primary-strawberry);
}

div.MissionAward {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

.MissionCollect {
    background-color: var(--primary-desaturated-strawberry);
    padding: 5px 5px;
    margin-top: 10px;
    width: 40%;
    align-self: self-end;
    letter-spacing: 1px;
}

.MissionCollect:hover {
    background-color: var(--primary-strawberry);
    cursor: pointer;
}

.BeijeCoinMission {
    width: 20px;
    height: 20px;
}

.badgeMission {
    width: 40px;
    height: 40px;
}

@media screen and (min-width: 768px) {
    .MissionMenuContainer {
        width: 70%;
    }
    .ul.MissionMenu li.MissionSingle {
        padding: 2.5%;
    }
    .MissionCollect {
        padding: 5px 10px;
    }
}