/* Styles for Input, select and textarea disabled */
input[disabled],
select[disabled],
textarea[disabled] {
    background-color: #ebebeb;
    border: 0;
}


.bo-input-box{
    color: rgb(110, 110, 110);
    border: 2px solid #ebebeb;
    outline: none;
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
}  

.bo-profile-welcome h2{
    margin: 0;
}

.bo-profile-welcome{
    display: flex;
    align-items: baseline;
}

.bo-icon-edit{
    margin: 0 20px;
    cursor: pointer;
}
.bo-icon-edit svg{
    font-size: 30px;
    color: #3F3D56;
}
.bo-icon-edit.delete svg {
    color: #F24464d9;
}

.bo-profile-first-row, .bo-profile-second-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bo-profile-form{
    margin-top: 60px;
}

.bo-profile-form .bo-input-box{
    text-align: left;
}

.bo-profile-flex-inputs{
    display: flex;
    justify-content: space-between;
}
.bo-profile-flex-inputs-time{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 49%;
}
input[name="time-start"]:before {
    content:'Apertura:';
    margin-right:.6em;
    color:#9d9d9d;
}
input[name="time-end"]:before {
    content:'Chiusura:';
    margin-right:.6em;
    color:#9d9d9d;
}


.bo-profile-flex-inputs>.bo-input-box {
    width: 49%;
    display: block;
    text-align: left;
}

.bo-profile-img {
    height: 45px;
    width: 45px;
}

.bo-profile-img img {
   height: 100%;
   width: 100%;
    object-fit: contain;
}

select[name="state"], 
select[name="category"],
select[name="discount"]{
    outline: none;
    /* text-align: center; */
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
}

@media screen and (max-width: 960px) {
    .bo-profile-first-row {
        flex-direction: column-reverse;
        align-items: center;
    }
    .bo-profile-second-row {
        flex-direction: column;
        align-items: center;
    }
    .bo-profile-flex-inputs {
        flex-wrap: wrap;
    }
    .bo-profile-flex-inputs>.bo-input-box {
        width: 100%;
    }
    .bo-profile-container{
        text-align: center;
    }
    input[name="time-start"]:before {
        content:''
    }
    input[name="time-end"]:before {
        content:''
    }
}