.backoffice-layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.backoffice-layout a {
    color: #fff;
    transition: none;
    display: block;
    height: 100%;
    padding: 10px 30px;
}
.backoffice-layout li:hover a,
.backoffice-layout li.active a {
    color: #3F3D56;
}
.backoffice-layout li.active {
    background-color: #fff;    
    transition: .2s;
}

.content-layout {
    overflow: hidden;
}
.content{
    padding: 60px;
    height: 100%;
    overflow: auto;
    background-color: #fff;
}

.backoffice-menu-container {
    display: flex;
    flex-direction: column;  
    height: 100%;  
}

.backoffice-menu {
    list-style-type: none;
    padding: 20px 0;
}

.backoffice-menu li {
   
    color: #fff;  
    cursor: pointer;  
}

.backoffice-menu li span {
    padding-right: 10px;
}

.backoffice-menu li:hover {
    background-color: #fff;
    color: #3F3D56;
    transition: .2s;
}

span.ant-layout-sider-zero-width-trigger.ant-layout-sider-zero-width-trigger-left {
    top: 0px;
    background-color: rgba(242, 68, 100, .9);
    content: '■';
}

.bo-btn-logout{
    padding: 30px 60px;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}

.bo-btn-logout .bo-btn{
    padding: 10px 5px;
    font-size: 13px;
    font-weight: 500;
}

@media screen and (max-width: 960px){
    .content{
        padding: 50px 20px;
    }
}