.restaurantsListContainer{
    height: 100%;
    /* width: 30vmin;
    display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: auto auto auto;
    margin-right:40px;
}

.wrapperImage{
    /* margin: 1%;
    flex: 1 0 31.3333%;
    display: flex; */
    margin: 5px;

}

.headerArticleRestaurant {
}

.imageSingleRestaurant{
    width: 342px;
    height: 128px;
    max-width: 100%;
    object-fit: cover;
    overflow:hidden;

}


/* per le info del ristorante
margin-top: auto;
 */