.restaurantsListContainer{
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
       
}

.wrapperImage{
    margin: 10px;
}
.wrapRating {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.titleRest {
    font-weight: 500;
    max-width: 280px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ratingRest{
    margin-right:5px;
}

.imageSingleRestaurant{
    width: 100%;
    border-radius: 5px;
    max-width: 100%;
    object-fit: cover;
    overflow:hidden;
}
.shippingRest {
    font-weight: 300;
    font-size: 0.9em;
}
@media only screen 
  and (min-device-width: 320px)
  and (max-width: 568px){
    .restaurantsListContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-right: 0;
    }
    .wrapperImage{
        margin: 10px 5px 10px 5px;
    }
    .imageSingleRestaurant{
        width: 100%;
        border-radius: 5px;
        max-width: 100%;
        object-fit: cover;
        overflow:hidden;
        
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {

    .restaurantsListContainer{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        margin-right: -3px;
    }
    
    

}
/* @media only screen 
  and (min-device-width: 375px)
  and (max-width: 568px){
    .restaurantsListContainer{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-right:40px;
    }
} */