/* Add css here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.landing-screen{
    background-color: #F24464d9;
    font-family: 'Poppins', sans-serif;
    min-height: calc(100vh - 82px);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5rem 2rem 2rem 2rem
}
.landing-screen .landing-content{
    width: 50%;
    position: relative;
}

.landing-screen .main-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
/* TO BE re-checked */
.landing-screen .landing-input{
    padding: 10px 20px;
    margin-bottom: 1rem;
    /* TO BE re-checked */
    /* 
    border: 3px solid rgb(48, 124, 211); */
}
.landing-screen .landing-btn{
    margin-top: 1rem;
    padding: 10px 20px;
    color: white;
    background-color: #3F3D56;
}
.landing-screen .landing-btn:hover{
    background-color: rgba(63, 61, 86, .85);
    color: white;
}
.landing-screen .main-title{
    color: white;
    margin-bottom: 2rem;
}



/* IMGS */
.fe-svg-landing{
    position: absolute;
}
.fe-burger-svg{
    width: 320px;
    bottom: 0;
    left: 0;
}
.fe-icecream-svg{
    width: 70px;
    top: 120px;
    left: 350px;
    transform: rotateZ(40deg);
}
.fe-barbecue-svg{
    width: 250px;
    right: 120px;
    top: 120px;
    transform: rotateZ(-40deg);
}
.fe-breakfast-svg{
    width: 25%;
    bottom: 0;
    right: 0;
}


@media screen and (max-width: 768px){
    .landing-screen{
        align-items: center;
    }
    .landing-screen .landing-content{
        width: 100%;
    }


    .fe-burger-svg{
        width: 35%;
        bottom: 0;
        left: 0;
    }
    .fe-icecream-svg{
        width: 70px;
        top: 120px;
        left: 350px;
        transform: rotateZ(40deg);
    }
    .fe-barbecue-svg{
        width: 19%;
        right: 120px;
        top: 120px;
        transform: rotateZ(-40deg);
    }
    .fe-breakfast-svg{
        width: 25%;
        bottom: 0;
        right: 0;
    }
}

@media screen and (max-width: 524px) {
    .fe-icecream-svg{
        display: none;
    }
}


@media screen and (max-height: 600px){
    .fe-burger-svg{
        display: none;
    }
    .fe-breakfast-svg{
        display: none;
    }
}


@media screen and (width: 1024px){
    .fe-burger-svg{
        width: 370px;
    }
}