/* Add css here */

.landing-screen{
    background-color: #F24464d9;
    font-family: 'Poppins', sans-serif;
    height: calc(100vh - 82px);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5rem 2rem 0 2rem
}
.landing-content{
    width: 50%;
}

.main-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
/* TO BE re-checked */
.landing-input{
    padding: 10px 20px;
    margin-bottom: 1rem;
    /* TO BE re-checked */
    /* 
    border: 3px solid rgb(48, 124, 211); */
}
.landing-btn{
    margin-top: 1rem;
    padding: 10px 20px;
    color: white;
    background-color: #3F3D56;
}
.landing-btn:hover{
    background-color: rgba(63, 61, 86, .85);
    color: white;
}
.main-title{
    color: white;
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px){
    .landing-screen{
        align-items: center;
    }
    .landing-content{
        width: 100%;
    }
}