


/* ----- MAIN SECTION ----- */

.frontend-main-user{
    height: calc(100vh - 112px);
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.frontend-main-user ul{
    align-self: flex-start;
    list-style: none;
    margin-bottom: 0;
}
.frontend-main-user ul li{
    margin-bottom: 1rem;
    font-size: 1rem;
}


.fortune-wheel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fortune-wheel-container button{
    width: 140px;
    background-color: var(--primary-yellow);
    padding: 10px 25px;
}

.frontend-user-logout-btn{
    min-width: 250px;
    background-color: var(--primary-dark);
    color: white;
    font-size: 18px;
    border-radius: 0;
    padding: 10px 25px;
}

@media screen and (min-width: 768.1px){
    .lucky-spin{
        width: 350px;
    }
}
@media screen and (max-width: 768px){
    .lucky-spin{
        width: 250px;
    }
}
@media screen and (max-width: 428px){
    .lucky-spin{
        width: 200px;
    }
}